<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
   App Component
  </h4>

  <div class="ui one column stackable center aligned page grid">
     <div class="column six wide">
       <div class="ui form">
         <select (change)="onChange($event.target.value)">
           <option value="0">Bike Management</option>
           <option value="1">MotorCycle Management</option>
           <option value="2" selected >Car Management</option>
           <option value="3">Ship Management</option>
         </select>
     </div>
     <div class="row"></div>
  </div>
</div>

  <app-bike-component *ngIf="option==0"></app-bike-component>
  <app-motorcycle-component *ngIf="option==1"></app-motorcycle-component>


</div>
